@{
    ViewBag.Title = "About";

}
<div class="row">
    <div class="col-md-12">
        <h3>About GreenPro</h3><br />
        <p>our text will come here. Your text will come here. Your text will come here. Your text will come here. Your text will come here. Your text will come here. Your text will come here. Your text will come here. Your text will come here. Your text will come here. Your text will come here. Your text will come here. Your text will come here. Your text will come here.come here. Your text will come here. Your text will come here.</p>
    </div>
</div>


<script>
    $(function () {
        $('#homeMenu').removeClass('current-menu-item');
        $('#serviceMenu').removeClass('current-menu-item');
        $('#garagesMenu').removeClass('current-menu-item');
        $('#contactMenu').removeClass('current-menu-item');
        $('#aboutMenu').addClass('current-menu-item');
    })
</script>