@{

    ViewBag.Title = "Welcome to GreenPro";
    Layout = "~/Views/Shared/_LayoutOne.cshtml";
}


<section class="featured">
    <div id="index">
        <!-- Responsive slider - START -->
        <section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5">
    <div class="align-center pad-top40 pad-bot30">
        <h1 class="color-white pad-top50"><span>MOBILE CARWASH</span></h1>
        <p class="color-white" style="text-align:center;"><span>NEW YORK</span></p>
        <p style="text-align:center;"><input type="submit" class="btn btn-primary join" value="Join Us"></p>
    </div>
</section>
        <!-- Responsive slider - END -->
    </div>
</section>

<!--about-->
<section id="section-about" class="top_border">
    <div class="container">
        <div class="about">
            <div class="row mar-bot40">
                <div class="col-md-offset-3 col-md-8">
                    <div class="title">
                        <div class="">
						 	<h2 class="section-heading animated">Our Story</h2>
						</div>
                    </div>
                    
                    <h3>WE LOVE CLEAN CARS</h3>
                    <div class="about-img">
                    <img src="img/about.jpg" alt="our story">
                    <p class="center_text">GreenPro is the mobile car wash that comes to you. Our products are Ecofriendly and are great on your vehicle, our tripple was technology really works! You pay, we come and it's clean, as simple as that. Through the act of subscribing to our service you may find happiness knowing you carry such <b>convenience</b> at your <b>fingertips</b>. </p>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</section>
<!--/about-->
<!-- spacer section:testimonial -->
<section id="testimonials" class="section" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="align-center">
                    <div class="testimonial pad-top40 pad-bot40 clearfix">
                       
                    </div>

                </div>
            </div>
        </div>

    </div>

</section>

<!-- services -->
<section id="section-works" class="section pad-bot5 bg-white top_border">
	<div class="container">
    	<div class="">
                <div class="row mar-bot40">
                    <div class="col-md-offset-3 col-md-8">
                    <h3>LIFE IS BUSY</h3>
                    <p class="result_text">We understand this sentiment and through the use of our service we're giving you the ability to <b>recoup</b> all those potential <b>moments</b> you'll waste waiting for your car to be cleaned.</p>
 			<p style="text-align:center;">
 				<input type="button" class="btn btn-primary brown" value="CHECK PRICING">
 			</p>
            </div>
    		</div>
    	</div>
     </div>
</section>
<!--/services-->

<section id="parallax1" class="section pad-top40 pad-bot40 mar-bot20" data-stellar-background-ratio="0.5">
    <div class="container ">
        <div class="align-center pad-top40 pad-bot40">
            <h4 class="color-white pad-top50">Indoctum accusamus comprehensam</h4>
            <p class="color-white">
                Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui. Fusce dapibus, tellus ac cursus etiam porta sem malesuada magna mollis euismod. commodo, Faccibus mollis interdum. Morbi leo risus, porta ac, vestibulum at eros.Feugiat accumsan Suspendisse eget Duis faucibus tempus pede pede augue pede. Dapibus mollis
                dignissim suscipit porta justo nisl amet Nunc quis semper.
            </p>
        </div>
    </div>
</section>

<!---pricing--->

<section id="line-pricing" class="line-section line-center top_border">
    <div class="container pad-top50">
        <div class="row mar-bot10 ">
            <div class="col-md-offset-3 col-md-8">
                <div class="section-header">
                    <div class="">

                        <h2 class="section-heading animated">Pricing</h2>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="line-wrap">
            @*<div class="line-pricing-table">
                <div class="pricing-table-wrap" data-scrollreveal="enter top over 0.5s after 0.3s">
                    <ul>
                        <li class="line-head-row">
                            Free
                        </li>
                        <li class="line-price-row">
                            <p>
                                <span class="symbol">$</span>
                                <span>0</span>
                            </p>
                            <small>Ideal for beginners</small>
                        </li>
                        <li>
                            1 theme included
                        </li>
                        <li>
                            1 year of theme updates
                        </li>
                        <li>
                            20% off future purchases
                        </li>
                        <li class="line-btn-row">
                            <a href="" class="line-btn light">Get Started</a>
                        </li>
                    </ul>
                </div>
                <div class="pricing-table-wrap" data-scrollreveal="enter top over 0.5s after 0.5s">
                    <ul class="line-highlight">
                        <li class="line-head-row">
                            Premium
                        </li>
                        <li class="line-price-row">
                            <p>
                                <span class="symbol">$</span>
                                <span>300</span>
                            </p>
                            <small>Per user / month</small>
                        </li>
                        <li>
                            24 themes included
                        </li>
                        <li>
                            Lifetime of premium support
                        </li>
                        <li>
                            Access all new themes
                        </li>
                        <li class="line-btn-row">
                            <a href="" class="line-btn green">Get Started</a>
                        </li>
                    </ul>
                </div>
                <div class="pricing-table-wrap" data-scrollreveal="enter top over 0.5s after 0.7s">
                    <ul>
                        <li class="line-head-row">
                            Standard
                        </li>
                        <li class="line-price-row">
                            <p>
                                <span class="symbol">$</span>
                                <span>150</span>
                            </p>
                            <small>Per user / month</small>
                        </li>
                        <li>
                            12 themes included
                        </li>
                        <li>
                            1 year of theme updates
                        </li>
                        <li>
                            Access all new themes
                        </li>
                        <li class="line-btn-row">
                            <a href="" class="line-btn light">Get Started</a>
                        </li>
                    </ul>
                </div>
            </div>*@

            @Html.Action("FeaturedPackage", "Home")
        </div>
    </div>
</section>

<!----pricing ends--->

 <!-- contact -->
@*<section id="section-contact" class="section appear clearfix">
    <div class="container">

        <div class="row mar-bot40">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-header">
                    <h2 class="section-heading animated" data-animation="bounceInUp">Contact us</h2>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="cform" id="contact-form">
                    <div id="sendmessage">
                        Your message has been sent. Thank you!
                    </div>
                    <form action="contact/contact.php" method="post" role="form" class="contactForm">
                        <div class="wow bounceIn">
                            <div class="form-group">
                                <label for="name">Your Name</label>
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <label for="email">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <label for="subject">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="maxlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
                                <div class="validation"></div>
                            </div>
                        </div>
                        <button type="submit" class="line-btn green">SEND MESSAGE</button>
                    </form>

                </div>
            </div>
           
        </div>

    </div>
</section>*@
