@{

    ViewBag.Title = "Welcome to GreenPro";
    Layout = "~/Views/Shared/_LayoutOne.cshtml";
}


<section class="featured">
    <div id="index">
        <!-- Responsive slider - START -->
        <div class="responsive-slider">
        	<div class="slide-body" data-group="slide">
                            <img src="img/slider.jpg" alt="">

                        </div>
        </div>
        <!-- Responsive slider - END -->
    </div>
</section>

<!--about-->
<section id="section-about">
    <div class="container">
        <div class="about">
            
            <div class="row">

                <div class="row-slider">
                    @*<div class="col-lg-6 mar-bot30">
                        <div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
                            <div class="slides" data-group="slides">
                                <ul>

                                    <div class="slide-body" data-group="slide">
                                        <li><img alt="" class="img-responsive" src="img/9.jpg" width="100%" height="350" /></li>
                                        <li><img alt="" class="img-responsive" src="img/10.jpg" width="100%" height="350" /></li>
                                        <li><img alt="" class="img-responsive" src="img/11.jpg" width="100%" height="350" /></li>

                                    </div>
                                </ul>
                                <a class="slider-control left" href="#" data-jump="prev"><i class="fa fa-angle-left fa-2x"></i></a>
                                <a class="slider-control right" href="#" data-jump="next"><i class="fa fa-angle-right fa-2x"></i></a>

                            </div>
                        </div>
                    </div>*@

                    <div class="col-lg-12 ">
                        <div class="company mar-left10">
                            @*<h4>Know <span>ABOUT </span> Here</h4>*@
                            
<div class="slides">
            <ul> <!-- slides -->
                <li>
                    <div>Mobile car wash- GreenPro is the mobile car was that <b>comes to you.</b>Through the act of subscribing to our service you may find happiness. Knowing you carry such <b>convenience </b>at your <b>fingertips</b></div>
                    <div class="center_title"><span>about</span><span class="green">Greenpro</span></div>
                </li>
                <li>
                    <div>Life is busy- we understand this sentiment and through the use of our service we're giving you the ability to <b>recop</b> all those potential <b>moments</b> you'll waste waiting for your car to be cleaned! </div>
                   <div class="center_title"><span>about</span><span class="green">Greenpro</span></div>
                </li>
                
            </ul>
        </div>



                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</section>
<!--/about-->
<!-- spacer section:testimonial -->
<!---pricing--->

<section id="line-pricing" class="line-section line-center">
    <div class="container pad-top50">
        <div class="row mar-bot10 ">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-header">
                    <div class="wow bounceIn">

                        <h2 class="section-heading animated" data-animation="bounceInUp">Pricing</h2>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="line-wrap">
            @*<div class="line-pricing-table">
                <div class="pricing-table-wrap" data-scrollreveal="enter top over 0.5s after 0.3s">
                    <ul>
                        <li class="line-head-row">
                            Free
                        </li>
                        <li class="line-price-row">
                            <p>
                                <span class="symbol">$</span>
                                <span>0</span>
                            </p>
                            <small>Ideal for beginners</small>
                        </li>
                        <li>
                            1 theme included
                        </li>
                        <li>
                            1 year of theme updates
                        </li>
                        <li>
                            20% off future purchases
                        </li>
                        <li class="line-btn-row">
                            <a href="" class="line-btn light">Get Started</a>
                        </li>
                    </ul>
                </div>
                <div class="pricing-table-wrap" data-scrollreveal="enter top over 0.5s after 0.5s">
                    <ul class="line-highlight">
                        <li class="line-head-row">
                            Premium
                        </li>
                        <li class="line-price-row">
                            <p>
                                <span class="symbol">$</span>
                                <span>300</span>
                            </p>
                            <small>Per user / month</small>
                        </li>
                        <li>
                            24 themes included
                        </li>
                        <li>
                            Lifetime of premium support
                        </li>
                        <li>
                            Access all new themes
                        </li>
                        <li class="line-btn-row">
                            <a href="" class="line-btn green">Get Started</a>
                        </li>
                    </ul>
                </div>
                <div class="pricing-table-wrap" data-scrollreveal="enter top over 0.5s after 0.7s">
                    <ul>
                        <li class="line-head-row">
                            Standard
                        </li>
                        <li class="line-price-row">
                            <p>
                                <span class="symbol">$</span>
                                <span>150</span>
                            </p>
                            <small>Per user / month</small>
                        </li>
                        <li>
                            12 themes included
                        </li>
                        <li>
                            1 year of theme updates
                        </li>
                        <li>
                            Access all new themes
                        </li>
                        <li class="line-btn-row">
                            <a href="" class="line-btn light">Get Started</a>
                        </li>
                    </ul>
                </div>
            </div>*@

            @Html.Action("FeaturedPackage", "Home")
        </div>
    </div>
</section>

<!----pricing ends--->


<!-- spacer section:testimonial -->
<section id="testimonials" class="section" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="align-center">
                    <div class="testimonial pad-top40 pad-bot40 clearfix">
                       
                    </div>

                </div>
            </div>
        </div>

    </div>

</section>

<!-- services -->
<section id="section-works" class="section pad-bot5 bg-white">
	<div class="container">
    	<div class="">
                <div class="row mar-bot40">
                    <div class="video col-lg-4">

                        <article class="">
                            <div class="service-item">
                                <video width="100%" controls>
  									<source src="video/greenpro.m4v" type="video/mp4">
  								</video>
                            </div>
                        </article>

    				</div>
                    <div class="video col-lg-4">

                        <article class="">
                            <div class="service-item">
                                <video width="100%" controls>
  									<source src="video/greenpro.m4v" type="video/mp4">
  								</video>
                            </div>
                        </article>

    				</div>
                    <div class="video col-lg-4">

                        <article class="">
                            <div class="service-item">
                                <video width="100%" controls>
  									<source src="video/greenpro.m4v" type="video/mp4">
  								</video>
                            </div>
                        </article>

    				</div>
    		</div>
    	</div>
     </div>
</section>
<!--/services-->

<section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5">
    <div class="align-center pad-top40 pad-bot30">
        
    </div>
</section>

<!-- team -->
<section id="team" class="team-section appear clearfix">
    <div class="container">

        <div class="row mar-bot10">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-header">
                    <div class="wow bounceIn">

                        <h2 class="section-heading animated" data-animation="bounceInUp">Our Team</h2>
                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="row align-center mar-bot45">
            <div class="col-md-4">
                <div class="wow bounceIn" data-animation-delay="4.8s">
                    <div class="team-member">
                        <div class="profile-picture">
                            <figure><img src="img/members3.jpg" alt=""></figure>
                            <div class="profile-overlay"></div>
                            <div class="profile-social">
                                <div class="icons-wrapper">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-detail">
                            <h4>Ron Evgeniy</h4>
                            <span>User experiences</span>
                        </div>
                        <div class="team-bio">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, fugiat, harum, adipisci accusantium minus asperiores.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

                <div class="wow bounceIn">
                    <div class="team-member">
                        <div class="profile-picture">
                            <figure><img src="img/members1.jpg" alt=""></figure>
                            <div class="profile-overlay"></div>
                            <div class="profile-social">
                                <div class="icons-wrapper">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-detail">
                            <h4>Alexander Chernov</h4>
                            <span>Web developer</span>
                        </div>
                        <div class="team-bio">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, fugiat, harum, adipisci accusantium minus asperiores.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="wow bounceIn">
                    <div class="team-member">
                        <div class="profile-picture">
                            <figure><img src="img/members2.jpg" alt=""></figure>
                            <div class="profile-overlay"></div>
                            <div class="profile-social">
                                <div class="icons-wrapper">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>

                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-detail">
                            <h4>Jose Manuel</h4>
                            <span>Web designer</span>
                        </div>
                        <div class="team-bio">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, fugiat, harum, adipisci accusantium minus asperiores.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- /team -->
 <!-- contact -->
@*<section id="section-contact" class="section appear clearfix">
    <div class="container">

        <div class="row mar-bot40">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-header">
                    <h2 class="section-heading animated" data-animation="bounceInUp">Contact us</h2>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="cform" id="contact-form">
                    <div id="sendmessage">
                        Your message has been sent. Thank you!
                    </div>
                    <form action="contact/contact.php" method="post" role="form" class="contactForm">
                        <div class="wow bounceIn">
                            <div class="form-group">
                                <label for="name">Your Name</label>
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="maxlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <label for="email">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <label for="subject">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="maxlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
                                <div class="validation"></div>
                            </div>
                        </div>
                        <button type="submit" class="line-btn green">SEND MESSAGE</button>
                    </form>

                </div>
            </div>
           
        </div>

    </div>
</section>*@
