@{

    ViewBag.Title = "Welcome to GreenPro";
    Layout = "~/Views/Shared/_LayoutOne.cshtml";
}


<section class="featured">
    <div id="index">
        <!-- Responsive slider - START -->
        <section id="parallax2" class="section parallax" data-stellar-background-ratio="0.2">
    <div class="align-center pad-top40 pad-bot30">
        <h1 class="color-white pad-top50"><span>MOBILE CARWASH</span></h1>
        <p class="color-white" style="text-align:center;"><span>NEW YORK</span></p>
        <div style="text-align:center;">
        <a href="/Garages" target="" ><input type="submit" class="btn join" value="Join Us"></a>
        </div>
    </div>
</section>
        <!-- Responsive slider - END -->
    </div>
</section>

<!--about-->
<section id="section-about" class="top_border">
    <div class="container">
        <div class="about">
            <div class="row mar-bot40">
                <div class="col-md-offset-3 col-md-8">
                    <div class="title">
                        <div class="">
						 	<h2 class="section-heading animated">Our Story</h2>
						</div>
                    </div>
                    
                    <h3>WE LOVE CLEAN CARS</h3>
                    <div class="about-img">
                    <img src="img/about.jpg" alt="our story">
                    <p class="center_text">GreenPro is the mobile car wash that comes to you. Our products are Ecofriendly and are great on your vehicle, our tripple was technology really works! You pay, we come and it's clean, as simple as that. Through the act of subscribing to our service you may find happiness knowing you carry such <b>convenience</b> at your <b>fingertips</b>. </p>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
    <section id="testimonials" class="section" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="align-center">
                    <div class="testimonial pad-top40 pad-bot40 clearfix">
                    
                    	<div class="rect_div">
                        	<div class="rect_in">
                        		<div class="">
                            		<h4 class="font_4">
                <span style="font-family: raleway,sans-serif; letter-spacing: 0.08em;">                    <span class="color_11">SA<span style="font-weight:bold;">VE</span> TI<span style="font-weight:bold;">ME</span></span></span>
                                    </h4>
                            	</div>
                            	<div>
                            		<p style="text-align: center;" class="font_8 te"><span style="letter-spacing:0.1em;"><span style="font-family: raleway,sans-serif;"><span class="color_11">IF TIME IS MONEY LET GREEN PRO PUT <span style="font-weight: bold;">MORE MONEY</span> BACK IN YOUR POCKEY BY GIVING YOUR TIME BACK.</span></span></span></p>
                            	</div>
                            </div>
                        </div>
                        
                    	<div class="rect_div left">
                        	<div class="rect_in">
                        		<div class="">
                            		<h4 class="font_4"><span style="font-family:raleway,sans-serif;"><span style="letter-spacing: 0.08em;"><span class="color_11">FREE<span style="font-weight:bold;">DOM</span></span></span></span></h4>
                            	</div>
                            	<div>
                            		<p style="text-align: center;" class="font_8 te"><span style="letter-spacing:0.1em;"><span style="font-family: raleway,sans-serif;"><span class="color_11"><span style="font-weight:bold;">TRAPPED</span> IN THE<span style="font-weight:bold;"> MONOTOMY</span> OF BEING IN LINE AT A CAR WASH? LET US COME TO YOU.</span></span></span></p>
                            	</div>
                            </div>
                        </div>
                        
                       	
                    </div>

                </div>
            </div>
        </div>

    </div>

</section>
  <section id="lifebusy" class="section pad-bot5 bg-white top_border">
	<div class="container">
    	<div class="">
                <div class="row mar-bot40">
                    <div class="col-md-offset-3 col-md-8">
                    <h3>LIFE IS BUSY</h3>
                    <p class="result_text">We understand this sentiment and through the use of our service we're giving you the ability to <b>recoup</b> all those potential <b>moments</b> you'll waste waiting for your car to be cleaned.</p>
 			<p style="text-align:center;">
 				<a href="/Garages" target="" ><input type="button" class="btn btn-primary brown" value="JOIN US" /></a>
 			</p>
            </div>
    		</div>
    	</div>
     </div>
</section>  
    
</section>
<!--/about-->
<!-- spacer section:testimonial -->


<!-- results -->
<section id="section-works" class="section pad-bot5 bg-white top_border">
	<div class="container">
    	<div class="">
                <div class="row mar-bot40">
                    <div class="col-md-offset-3 col-md-8">
                    slider area
            </div>
    		</div>
    	</div>
     </div>
</section>
<!--/results-->
<!---pricing--->

<section id="line-pricing" class="line-section line-center top_border">
    <div class="container pad-top50">
        <div class="row mar-bot10 ">
            <div class="col-md-offset-3 col-md-8">
                <div class="section-header">
                    <div class="">

                        <h2 class="section-heading animated">Locations & Pricing</h2>
                        
                        <p class="font_8 top_text">GreenPro is now serving the Greater New York Area. If you are not in our initial market but would like to use GreenPro please contact us.</p>
                        <br/><br/>
			<p class="font_8">Areas Currently Being Serviced</p>
            <p class="font_8">Uptown</p>
            <p class="font_8">Midtown</p>
            <p class="font_8">Downtown</p>
            <p class="font_8">Queens</p>
            <p style="text-align:center;">
 			<a href="/Garages" target="" ><input type="button" class="btn btn-primary brown" value="JOIN US" /></a>
 			</p>
            <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="line-wrap">
            @Html.Action("FeaturedPackage", "Home")
        </div>-->
    </div>
</section>

<!----pricing ends--->


