<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://greenpro.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>greenpro.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>greenpro</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$greenpro</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GreenProDbEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=g851xbo2jb.database.windows.net;Initial Catalog=GreenPro;Persist Security Info=True;User ID=kunaldeshmukh@g851xbo2jb;Password=Kunal+123" Name="Data Source=g851xbo2jb.database.windows.net;Initial Catalog=GreenPro;Persist Security Info=True;User ID=kunaldeshmukh@g851xbo2jb;Password=Kunal+123;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GreenPro.Data.GreenProDbEntities, GreenPro.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=g851xbo2jb.database.windows.net;Initial Catalog=GreenPro;Persist Security Info=True;User ID=kunaldeshmukh@g851xbo2jb;Password=Kunal+123" Name="Data Source=g851xbo2jb.database.windows.net;Initial Catalog=GreenPro;Persist Security Info=True;User ID=kunaldeshmukh@g851xbo2jb;Password=Kunal+123;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="GreenPro.WebClient.Models.ApplicationDbContext, GreenPro.WebClient" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=g851xbo2jb.database.windows.net;Initial Catalog=GreenPro;Persist Security Info=True;User ID=kunaldeshmukh@g851xbo2jb;Password=Kunal+123;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GreenProDbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/GreenDBPro.csdl|res://*/GreenDBPro.ssdl|res://*/GreenDBPro.msl;provider=System.Data.SqlClient;provider connection string="Data Source=g851xbo2jb.database.windows.net;Initial Catalog=GreenPro;Persist Security Info=True;User ID=kunaldeshmukh@g851xbo2jb;Password=Kunal+123;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>