@model GreenPro.Data.CarUser

@{
    ViewBag.Title = "Renewal";
    Layout = null;
}


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Renewal</h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-group">
            <div class="col-md-10">

                <p>        @ViewBag.Message</p>

            </div>
            <br />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">No</button>
        @*<input class="btn btn-danger" type="submit" value="Yes" disabled="@ViewBag.Disabled" />*@
        <input class="btn btn-danger" type="submit" value="Yes" />
    </div>
}

