<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CancelURL" value="http://front.greenpro.com/" />
    <add key="ReturnUrl" value="http://front.greenpro.com/" />
    <add key="RedirectURL" value="https://www.sandbox.paypal.com/webscr&amp;cmd=" />
  </appSettings>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GreenPro.PayPalSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GreenPro.PayPalSystem.Properties.Settings>
            <setting name="CancelURL" serializeAs="String">
                <value />
            </setting>
            <setting name="ReturnUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="RedirectURL" serializeAs="String">
                <value>https://www.sandbox.paypal.com/webscr&amp;amp;cmd=</value>
            </setting>
        </GreenPro.PayPalSystem.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PayPalCoreSDK" publicKeyToken="5b4afc1ccaef40fb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>