@model IEnumerable<GreenPro.Data.UserTransaction>
@using Microsoft.AspNet.Identity
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
}


<div class="row">

    <div class="col-md-12 panel panel-default">
        <h3 class="panel-heading">Your Transactions</h3>
        @Html.Grid(Model).Columns(columns =>
                        {
                            columns.Add(a => a.UserPackage.Package.Package_Name).Titled("Package Name");
                            columns.Add(a => a.UserPackage.ServiceDay).Titled("Service Day");
                            columns.Add(a => a.Amount).Titled("Total Amount").Format("{0:$00.00}");
                            columns.Add(a => a.PaypalId).Titled("Paypal Reference");
                            columns.Add(a => a.TransactionDate).Titled("Transaction Date");


                            //var domain = "http://freehtmltopdf.com?convert=" + System.Configuration.ConfigurationManager.AppSettings["domain"] + "Carusers%2FGenerateInvoice%3Fid%3D";
                            //columns.Add().Encoded(false).Sanitized(false).RenderValueAs(d => @Html.Raw("<a  href=" + domain + "" + d.UserPackage.Id + "%26userid=" + User.Identity.GetUserId() + "%26size=US_Letter title='View Invoice'> View Invoice </a>"));

                            var ViewUrl = System.Configuration.ConfigurationManager.AppSettings["domain"] + "Carusers/GenerateInvoice/";
                            columns.Add().Encoded(false).Sanitized(false).RenderValueAs(d => @Html.Raw("<a  href=" + ViewUrl + "" + d.UserPackage.Id + "?userid=" + User.Identity.GetUserId() + "> View </a>"));
                                                       

                        }).WithPaging(20)

    </div>
</div>
