<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Terms & Conditions</h4>
</div>
<div class="modal-body" style="max-height:400px;overflow:scroll">
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut neque libero. Aliquam pretium mauris orci, congue dictum est eleifend sed. Vestibulum quam odio, dignissim non odio sit amet, consequat cursus erat. Nam interdum scelerisque tempor. Mauris sollicitudin erat quis turpis blandit malesuada. Pellentesque ut lectus ornare sem faucibus semper. Integer ullamcorper dui ut sapien sollicitudin lobortis. Proin lacinia, orci sit amet bibendum efficitur, dui nibh tincidunt nunc, in eleifend elit nibh at mauris. Sed vel diam vel lacus porta congue.</p>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut neque libero. Aliquam pretium mauris orci, congue dictum est eleifend sed. Vestibulum quam odio, dignissim non odio sit amet, consequat cursus erat. Nam interdum scelerisque tempor. Mauris sollicitudin erat quis turpis blandit malesuada. Pellentesque ut lectus ornare sem faucibus semper. Integer ullamcorper dui ut sapien sollicitudin lobortis. Proin lacinia, orci sit amet bibendum efficitur, dui nibh tincidunt nunc, in eleifend elit nibh at mauris. Sed vel diam vel lacus porta congue.</p>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut neque libero. Aliquam pretium mauris orci, congue dictum est eleifend sed. Vestibulum quam odio, dignissim non odio sit amet, consequat cursus erat. Nam interdum scelerisque tempor. Mauris sollicitudin erat quis turpis blandit malesuada. Pellentesque ut lectus ornare sem faucibus semper. Integer ullamcorper dui ut sapien sollicitudin lobortis. Proin lacinia, orci sit amet bibendum efficitur, dui nibh tincidunt nunc, in eleifend elit nibh at mauris. Sed vel diam vel lacus porta congue.</p>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut neque libero. Aliquam pretium mauris orci, congue dictum est eleifend sed. Vestibulum quam odio, dignissim non odio sit amet, consequat cursus erat. Nam interdum scelerisque tempor. Mauris sollicitudin erat quis turpis blandit malesuada. Pellentesque ut lectus ornare sem faucibus semper. Integer ullamcorper dui ut sapien sollicitudin lobortis. Proin lacinia, orci sit amet bibendum efficitur, dui nibh tincidunt nunc, in eleifend elit nibh at mauris. Sed vel diam vel lacus porta congue.</p>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut neque libero. Aliquam pretium mauris orci, congue dictum est eleifend sed. Vestibulum quam odio, dignissim non odio sit amet, consequat cursus erat. Nam interdum scelerisque tempor. Mauris sollicitudin erat quis turpis blandit malesuada. Pellentesque ut lectus ornare sem faucibus semper. Integer ullamcorper dui ut sapien sollicitudin lobortis. Proin lacinia, orci sit amet bibendum efficitur, dui nibh tincidunt nunc, in eleifend elit nibh at mauris. Sed vel diam vel lacus porta congue.</p>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut neque libero. Aliquam pretium mauris orci, congue dictum est eleifend sed. Vestibulum quam odio, dignissim non odio sit amet, consequat cursus erat. Nam interdum scelerisque tempor. Mauris sollicitudin erat quis turpis blandit malesuada. Pellentesque ut lectus ornare sem faucibus semper. Integer ullamcorper dui ut sapien sollicitudin lobortis. Proin lacinia, orci sit amet bibendum efficitur, dui nibh tincidunt nunc, in eleifend elit nibh at mauris. Sed vel diam vel lacus porta congue.</p>

    </div>
<div class="modal-footer">
    <span id="progress" class="text-center" style="display: none;">
        <img src="~/Content/images/loading.gif" alt="waitIcon" />
        Wait..
    </span>

    @*<input class="line-btn light" type="submit" value="Save" />*@
    <button class="line-btn light" data-dismiss="modal">Close</button>
</div>
