@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="col-md-12 panel panel-default">
    <h4 class="panel-heading">@ViewBag.Title.</h4>

<div>
    <p>
        Please check your email to reset your password.
    </p>
    @*<p class="text-danger">
        For DEMO only: You can click this link to reset password: <a href="@ViewBag.Link">link</a>
        Please change this code to register an email service in IdentityConfig to send an email.
    </p>*@
</div>
</div>
