@{

    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-md-6 panel panel-default">
       <h4 class="panel-heading">Login</h4>
       


        @Html.Partial("_Login")
    </div>
    <div class="col-md-6">

        @*@Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })*@

    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}